#entry {
  @include span-columns(9 of 12);
  padding: 0 0 60px 20px;
  float: right;

  p {
    line-height: 28px;
    font-size: $font-medium;
  }
  
  @include media($md-devices) {
    @include span-columns(12 of 12);
    padding-left: 0;
  }
}

.error-entry {
  h1 {
    margin: 70px 0 30px 0;
  }
}

.headline {
  border-bottom: 1px solid #eee;
  text-transform: uppercase;
  margin-top: 60px;
  padding-bottom: 20px;
}

p object {
  width: auto;
  height: auto;
  padding: 10px 10px 2px 10px;
  background: #fff;
  border: 1px solid #ddd;
  display: inline-block;
  margin-top: 20px;
  
  @include media($sm-devices) {
    width: 100% !important;
    padding: 0;
    border: none;
  }
}

blockquote {
  background: #f8f8f8;
  padding: $gutter;
  margin: 0 0 $gutter 0;

  ul {
    margin-left: 18px;
  }

  li {
    font-size: $font-small;
    line-height: 22px;
    margin-top: 7px;
    list-style-type: disc;
  }

  h2 {
    font-size: $font-medium;
    margin: 0 0 15px 0;
  }
}
