<p>
  <i>Autoria</i>
</p>
<p>
	Texto de <a href="http://viniciusteles.com.br">Vinícius Manhães Teles</a>.<br/>
	Ilustrações de <a href="http://improveit.com.br/empresa/leandro">Leandro Mello</a>.
</p>
<p>
	Publicado em {{ page.date }}.
</p>
<p>
	Licenciado como <a href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR" title="Creative Commons Atribuição">Creative Commons Atribuição</a>.
</p>
</p>
	<a href="http://creativecommons.org/licenses/by/3.0/deed.pt_BR" title="Creative Commons Atribuição"><img src="/images/cc.png" /></a> 
</p>