<article id="contribute">
  <h1>Como contribuir</h1>

  <p>O DesenvolvimentoÁgil.com.br é um projeto Open Source feito com o apoio da ImproveIT com a HE:labs. Mudanças e adições tanto no conteúdo quando no layout são bem-vindas, desde que sigam o Guideline de contribuição para o projeto.</p>

  <h2>Começando</h2>

  <ul>
  <li>Crie uma conta no <a href="https://github.com/signup/free">GitHub</a>, caso não possua.</li>
  <li>Crie uma issue com a sua alteração. Certifique-se de que não exista alguma issue igual a sua.</li>
  <li>Descreva claramente a mudança que você deseja fazer.</li>
  <li>Faça um Fork do repositório.</li>
  </ul>

  <h2>Fazendo as mudanças</h2>

  <ul>
  <li>Crie um branch a partir do master.
  <ul><li>Para criar um branch `git checkout -b minha_contribuicao`</li></ul></li>
  <li>Faça seus commits.</li>
  </ul>

  <h2>Enviando as mudanças</h2>

  <ul>
  <li>Faça um Push de suas mudanças para o branch no repositório em que você fez o Fork.</li>
  <li>Envie um Pull Request para o repositório na organização desenvolvimentoagilcombr.</li>
  </ul>

  <h1>Recursos Adicionais</h1>

  <ul>
  <li><a href="http://help.github.com/">Documentação geral do GitHub</a></li>
  <li><a href="http://help.github.com/send-pull-requests/">Documentação de Pull Request do GitHub</a></li>
  </ul>
</article>