<article id="contribute">
  <div class="holder">

    <div class="column">
      
      <h3>
        O que é o<br>
        <strong>DesenvolvimentoAgil.com.br?</strong>
      </h3>

      <p>O DesenvolvimentoAgil.com.br é um projeto Open Source feito pela comunidade de desenvolvimento ágil do Brasil.</p>
      <p>Mudanças e adições tanto no conteúdo quando no layout são bem-vindas, desde que sigam o Guideline de contribuição para o projeto.</p>

    </div> <!-- /column -->

    <div class="column">

      <h3>
        O projeto é Open Source.<br>
        <strong>Caso decida contribuir, siga as instruções...</strong>
      </h3>

      <p>Se você for desenvolvedor, leia o <a href="https://github.com/desenvolvimentoagilcombr/desenvolvimentoagilcombr.github.com">README do projeto</a>. Senão, solicite mudanças seguindo os passos:</p>

      <ul>
        <li>Crie uma conta no <a href="https://github.com/signup/free">GitHub</a>, caso não possua.</li>
        <li>Certifique-se de que não <a href="https://github.com/desenvolvimentoagilcombr/desenvolvimentoagilcombr.github.com/issues">exista nenhuma issue igual a sua.</a></li>
        <li><a href="https://github.com/desenvolvimentoagilcombr/desenvolvimentoagilcombr.github.com/issues/new">Crie uma issue</a> com a sua solicitação.</li>
        <li>Descreva claramente a mudança que você deseja fazer.</li>
      </ul>

      <h5>Recursos</h5>

      <ul>
        <li><a href="http://help.github.com/">Documentação geral do GitHub</a></li>
        <li><a href="https://help.github.com/articles/using-pull-requests">Documentação de Pull Request do GitHub</a></li>
      </ul>

    </div> <!-- /column -->

  </div>
</article>
