<nav id="content-navigation">
  <div class="topic">
    <h4>Visão geral</h4>
    <ul>
      <li><a href="/scrum">O que é Scrum</a></li>
      <li><a href="/scrum/daily_scrum">Daily Scrum</a></li>
      <li><a href="/scrum/product_backlog">Product Backlog</a></li>
      <li><a href="/scrum/product_owner">Product Owner</a></li>
      <li><a href="/scrum/release_burndown">Release Burndown</a></li>
      <li><a href="/scrum/scrum_master">Scrum Master</a></li>
      <li><a href="/scrum/scrum_team">Scrum Team</a></li>
      <li><a href="/scrum/sprint_backlog">Sprint Backlog</a></li>
      <li><a href="/scrum/sprint_planning_meeting">Sprint Planning Meeting</a></li>
      <li><a href="/scrum/sprint_retrospective">Sprint Retrospective</a></li>
      <li><a href="/scrum/sprint_review_meeting">Sprint Review Meeting</a></li>
    </ul>
  </div>
</nav>