<footer>
	<div class="holder">
	  © 2013/2014 DesenvolvimentoÁgil.com.br
	</div>
</footer>

<script type='text/javascript' src='/scripts/jquery.min.js'></script>
<script type='text/javascript' src='/scripts/shCore.js'></script>
<script type='text/javascript' src='/scripts/shBrushXml.js'></script>
<script type='text/javascript' src='/scripts/shBrushJava.js'></script>
<script type='text/javascript' src='/scripts/shBrushRuby.js'></script>
<script type='text/javascript' src='/scripts/scripts.js'></script>

{% include google_analytics.html %}