<footer>
	<div class="holder">

	  <p>© 2013/2014 DesenvolvimentoÁgil.com.br</p>

    <div class="ft-support">
      Apoiado com muito carinho pela:<br>
      <a href="http://helabs.com/br/?utm_source=desenvolvimentoagil&utm_medium=logo-footer&utm_campaign=backlink" title="Desenvolvimento ágil HE:labs">
        <img src="/images/logo-he.png" alt="Desenvolvimento ágil HE:labs">
      </a>
    </div>

	</div>
</footer>

<script type='text/javascript' src='/scripts/jquery.min.js'></script>
<script type='text/javascript' src='/scripts/shCore.js'></script>
<script type='text/javascript' src='/scripts/shBrushXml.js'></script>
<script type='text/javascript' src='/scripts/shBrushJava.js'></script>
<script type='text/javascript' src='/scripts/shBrushRuby.js'></script>
<script type='text/javascript' src='/scripts/scripts.js'></script>

{% include google_analytics.html %}
