<head>
	<title>{{ page.title }}{% if page.layout == "scrum" %} | Scrum{% elsif page.layout == "xp" %} | XP{% endif %} | DesenvolvimentoAgil.com.br</title>
	<meta charset='utf-8' />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="keywords" content="{{ page.keywords }}" />
	<meta name="description" content="{{ page.description }}" />
	<meta name="robots" content="index,follow" />

	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/favicon.png">


	<!-- CSS -->
	<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" />

	<!-- BREAK POINTS / RESPONSIVE -->
	<link rel="stylesheet" href="/stylesheets/tablet.css" media="screen and (min-width : 720px) and (max-width : 1000px)" />
	<link rel="stylesheet" href="/stylesheets/mobile.css" media="screen and (max-width : 720px)">


	<!-- JS -->
	<script type='text/javascript' src='/scripts/jquery.min.js'></script>
	<script type='text/javascript' src='/scripts/shCore.js'></script>
	<script type='text/javascript' src='/scripts/shBrushXml.js'></script>
	<script type='text/javascript' src='/scripts/shBrushJava.js'></script>
	<script type='text/javascript' src='/scripts/shBrushRuby.js'></script>
	<script type='text/javascript' src='/scripts/scripts.js'></script>
</head>