.center { width: 98% !important; padding: 0 1% !important; }
#contribute { width: auto; padding: 0; }
#content { padding-bottom: 50px !important }
#main hgroup img { display: none; }
#content-navigation ul { font-size: 12px; }
#content-navigation h4 { font-size: 14px; }
#content-navigation h3, #header #content-table h3 a { font-size: 16px; }
.main-category { clear: both; margin: 30px 0 10px; }
#content-navigation li { margin-top: 5px; }

#masthead h1 { text-indent: -9999em; }
#content-table-link {
	position: static;
	left: auto;
	top: auto;
	margin-left: 0;
	margin-top: 4px;
}

#content img {
	max-width: 100%;
	height: auto;
	text-align: center;
	display: inline;
}

footer {
	text-align: center;
	height: auto;
	overflow: hidden;
}

footer span {
	padding: 0;
	float: none;
}

#content h1 {
	padding-top: 15px;
	padding-bottom: 5px;
	height: auto;
	border-bottom: none;
	font-size: 26px;
	color: #333;
	margin: 0 0 10px 0;
	background: none !important;
}

body > #wrapper { min-height: auto; }

#content object,
#content embed { max-width: 100% !important; height: auto !important }


#content h2 { font-size: 22px; }


#content-navigation .topic {
	float: left;
	margin-right: 0;
	width: 50%;
	margin-bottom: 28px;
}

.main-category {
	clear: both;
	margin: 0;
	width: 100% !important;
}

#main hgroup { margin-top: 20px; }

#main hgroup h1 {
	font-size: 26px;
	line-height: 32px;
}

#hexagon-navigation {
	padding-bottom: 15px;
	width: 100%;
	height: auto;
}

#hexagon-navigation .hexagon {
	float: none;
	display: block;
	margin: 20px auto 0;
}