.holder {
  @include outer-container;
}

#content-table {
  display: none;
}

#header {
  height: 60px;
  background: #b63131;
  color: #fff;
  
  h1 a {
    font-size: $font-medium;
    color: #fff;
    float: left;
  }
}

#main-navigation {

  li {
    margin-left: 20px;
    float: right;
    font-size: $font-medium;
  }
  
  a {
    font-weight: bold;
    color: #fff;
  }
}
