#header {
  height: 60px;
  background: #b63131;
  color: #fff;

  img {
    width: 61px;
    height: 61px;
    background: $main-red;
    border-right: 1px solid #da4343;
    border-left: 1px solid #da4343;
    border-bottom: 1px solid $main-red;
    margin-right: 20px;
    float: left;
  }

  #logo a {
    line-height: 58px;
    font-size: $font-medium;
    color: #fff;
    float: left;
  }
}

#main-navigation {
  float: right;

  li {
    line-height: 58px;
    margin-left: 20px;
    display: inline-block;
    font-size: $font-medium;
    font-weight: bold;
  }

  a {
    color: #ffd0d0;
    
    &:hover {
      color: #fff;
    }
  } // a
}

body.internal-content {
  #header {
    img {
      width: 60px;
      height: 60px;
      border-bottom: none;
    }
  } // #header
}
