#banner {
  border-top: 1px solid #da4343;
  background: $main-red;
  padding: 70px 0;
  text-align: center;
  color: #fff;

  h2 {
    font-size: $font-big;
    margin: 0 0 $gutter 0;
    line-height: 25px;

    span {
      font-size: $font-large;
      font-weight: 300;
      display: block;
      color: $light-red;
    }
  } // h2
}

.banner-description {
  font-size: $h5-font-size;
  line-height: 30px;
  color: $light-red;
  margin: 0;
}

#main-call {
  background: $dark-gray;
  text-align: center;
  padding: $gutter 0 0 0;

  li {
    display: inline-block;
    margin-bottom: -40px;

    a {
      width: 140px;
      height: 140px;
      background: #eee;
      color: $main-red;
      display: inline-block;
    }
  } // li
}

#contribute {
  padding: 110px 0 70px 20px;
  @include outer-container;

  .column {
    @include span-columns(5);
    margin: 0 40px;
  }

  h3 {
    font-weight: normal;
    border-bottom: 1px solid $light-gray;
    color: $main-red;
    padding: 0 0 15px 0;
    margin: 0 0 $gutter 0;
    font-size: $font-medium;
    line-height: 23px;

    strong {
      font-weight: bold;
    }
  } // h3
}
