$sliding-menu-border-color: $dark-gray;
$sliding-menu-background: lighten($sliding-menu-border-color, 5);
$sliding-menu-color: #fff;
$sliding-menu-border: 1px solid $sliding-menu-border-color;
$sliding-menu-background-hover: $base-accent-color;
$sliding-menu-color-hover: #fff;

.sliding-menu-button {
  background: url('../../images/sidemenu-icon.png') 0 0 no-repeat !important;
  display:none;
  cursor: pointer;
  font-size: $base-font-size;
  margin: 7px 15px 0 0;
  padding: 1em;
  position: relative;
  outline: none;

  @include media($md-devices) {
    display: block;
  }
}

.sliding-menu-content {
  @include position(fixed, 0px auto 0px 0px);
  @include size(220px 100%);
  @include transform(translateX(-220px));
  @include transition(all .25s linear);
  background: $sliding-menu-background;
  z-index: 999999;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

  li a {
    border-bottom: $sliding-menu-border;
    color: $sliding-menu-color;
    display: block;
    font-weight: bold;
    padding: 1em;

    &:hover {
      background-color: $sliding-menu-background-hover;
      color: $sliding-menu-color-hover;
    }
  }

  &.is-visible {
    @include transform(translateX(0));
  }
}

.menu-screen {
  @include position(fixed, 0px 0px 0px 0px);
  @include transition;
  background: $sliding-menu-border-color;
  opacity: 0;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: .4;
    visibility: visible;
  }
}
