#banner {
  border-top: 1px solid #da4343;
  background: $main-red;
  padding: 70px 0;
  text-align: center;
  color: #fff;

  h2 {
    font-size: $font-big;
    margin: 0 0 $gutter 0;
    line-height: 45px;

    span {
      margin-bottom: -45px;
      font-size: $font-large;
      font-weight: 300;
      display: block;
      color: $light-red;
    }
  } // h2
}

.banner-description {
  font-size: $h5-font-size;
  line-height: 30px;
  color: $light-red;
  margin: 0;
}
