<!DOCTYPE html>
<html lang='pt'>

	{% include head.html %}

	<body>

		<header id="header">
      <div class="holder">

    		<h1>
          <a href="/" id="logo" title="DesenvolvimentoAgil.com.br">
            DesenvolvimentoAgil.com.br
          </a>
        </h1>

    		<nav id="main-navigation">
    			<ul>
    				<li><a href="/xp" title="XP">XP</a></li>
    				<li><a href="/scrum" title="Scrum">Scrum</a></li>
    				<li><a href="/kanban" title="Kanban">Kanban</a></li>
    			</ul>
    		</nav>

      </div>
		</header>

    {{ content }}

		{% include contribute.html %}

		{% include footer.html %}

	</body>
</html>