<!DOCTYPE html>
<html lang='pt'>
  {% include head.html %}
  <body>
    <header id="header">
      <div id="masthead">
        <div class="center">
          <h1><a href="/" id="logo" title="DesenvolvimentoÁgil.com.br">DesenvolvimentoÁgil.com.br</a></h1>
          <nav id="main-navigation">
            <ul>
              <li class="current"><a href="/xp" title="XP">XP</a></li>
              <li><a href="/scrum" title="Scrum">Scrum</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <section id="main" class="center">
      {{ content }}
    </section>
  </body>
</html>