<!DOCTYPE html>
<html lang='pt'>

	{% include head.html %}

	<body class="internal-content">

		<header id="header">
      <div class="holder">

        <img src="/images/da-icon.png">

    		<div id="logo">
          <a href="/" title="DesenvolvimentoAgil.com.br">
            DesenvolvimentoAgil.com.br
          </a>
        </div>

      </div>
		</header>

    <div class="holder">

      <section id="entry">
        {{ content }}
      </section>

    </div> <!-- /holder -->

		{% include footer.html %}

	</body>
</html>
