<!DOCTYPE html>
<html lang='pt'>

	{% include head.html %}

	<body class="internal-content">
    
    <div class="main">

  		<header id="header">
        <div class="holder">

          <img src="/images/da-icon.png">

      		<div id="logo">
            <a href="/" title="DesenvolvimentoAgil.com.br">
              DesenvolvimentoAgil.com.br
            </a>
          </div>

      		<nav id="main-navigation">
      			<ul>
      				<li>XP</li>
      				<li><a href="/scrum" title="Scrum">Scrum</a></li>
      				<li><a href="/kanban" title="Kanban">Kanban</a></li>
      			</ul>
      		</nav>

        </div>
  		</header>

      {% include content_table_xp.html %}

      <div class="holder">

        <section id="entry">

          <h1 class="headline">{{ page.heading }}</h1>
          {{ content }}
      
        </section> <!-- /entry -->

      </div> <!-- /holder -->

  		{% include footer.html %}
    
    </div> <!-- /main -->

	</body>
</html>
