<!DOCTYPE html>
<html lang='pt'>

	{% include head.html %}

	<body class="internal-content">

    <div class="main">

  		<header id="header">
        <div class="holder">

	        {% include logo.html %}

      		<nav id="main-navigation">
      			<ul>
      				<li>XP</li>
      				<li><a href="/scrum" title="Scrum">Scrum</a></li>
      			</ul>
      		</nav>

        </div>
  		</header>

      <div class="holder">

				{% include sliding_menu_xp.html %}

        <h1 class="headline">
          {{ page.heading }}
        </h1>

        <aside id="content-sidebar">
          {% include content_table_xp.html %}
        </aside>

        <section id="entry">
          {{ content }}
        </section>

      </div> <!-- /holder -->

  		{% include footer.html %}

    </div> <!-- /main -->

	</body>
</html>
